<nav>

	{{#if (is-active "index")}}

		<div>Introduction</div>
		<section>
			<Navigate @route="index" @name="Setup" />
		</section>

	{{/if}}

	{{#if (is-active "guides")}}

		<div>General</div>
		<section show>
			<Navigate @route="guides.styling" @name="Styling" />
			<Navigate @route="guides.electron" @name="Electron" />
		</section>

		<div>Bigdata</div>
		<section show>
			<Navigate @route="guides.bigdata" @name="Intro" />
			<Navigate @route="guides.bigdata.infinite" @name="Infinite" />
			<Navigate @route="guides.bigdata.sparse" @name="Sparse" />
		</section>

		<div>Webapps</div>
		<section show>
			<Navigate @route="guides.webapps" @name="Intro" />
			<Navigate @route="guides.webapps.images" @name="Images" />
			<Navigate @route="guides.webapps.fastboot" @name="Fastboot" />
			<Navigate @route="guides.webapps.minification" @name="Minification" />
		</section>

		<div>Tasks</div>
		<section show>
			<Navigate @route="guides.tasks" @name="Intro" />
			<Navigate @route="guides.tasks.defining" @name="Defining tasks" />
			<Navigate @route="guides.tasks.running" @name="Running tasks" />
			<Navigate @route="guides.tasks.catching" @name="Catching errors" />
			<Navigate @route="guides.tasks.cancelling" @name="Cancelling tasks" />
		</section>

		<div>SurrealDB</div>
		<section show>
			<Navigate @route="guides.surreal" @name="Intro" />
			<Navigate @route="guides.surreal.routing" @name="Routing" />
			<Navigate @route="guides.surreal.authing" @name="Authentication" />
			<Navigate @route="guides.surreal.defining" @name="Defining models" />
			<Navigate @route="guides.surreal.selecting" @name="Selecting records" />
			<Navigate @route="guides.surreal.modifying" @name="Modifying records" />
		</section>

	{{/if}}

	{{#if (is-active "services")}}

		<section show>
			<Navigate @route="services.clock" @name="Clock" />
			<Navigate @route="services.electron" @name="Electron" />
			<Navigate @route="services.internet" @name="Internet" />
			<Navigate @route="services.location" @name="Location" />
			<Navigate @route="services.metrics" @name="Metrics" />
			<Navigate @route="services.storage" @name="Storage" />
			<Navigate @route="services.store" @name="Store" />
			<Navigate @route="services.surreal" @name="Surreal" />
			<Navigate @route="services.update" @name="Update" />
			<Navigate @route="services.worker" @name="Worker" />
		</section>

	{{/if}}

	{{#if (is-active "elements")}}

		<section show>
			<Navigate @route="elements.calendar" @name="Calendar" />
			<Navigate @route="elements.contextmenu" @name="Contextmenu" />
			<Navigate @route="elements.dragdrop" @name="Dragdrop" />
			<Navigate @route="elements.dropdown" @name="Dropdown" />
			<Navigate @route="elements.editable" @name="Editable" />
			<Navigate @route="elements.iframe" @name="Iframe" />
			<Navigate @route="elements.gravatar" @name="Gravatar" />
			<Navigate @route="elements.gridlist" @name="Gridlist" />
			<Navigate @route="elements.initials" @name="Initials" />
			<Navigate @route="elements.image" @name="Image" />
			<Navigate @route="elements.input" @name="Input" />
			<Navigate @route="elements.label" @name="Label" />
			<Navigate @route="elements.link" @name="Link" />
			<Navigate @route="elements.masonry" @name="Masonry" />
			<Navigate @route="elements.modal" @name="Modal" />
			<Navigate @route="elements.select" @name="Select" />
			<Navigate @route="elements.social" @name="Social" />
			<Navigate @route="elements.tooltip" @name="Tooltip" />
			<Navigate @route="elements.uploader" @name="Uploader" />
			<Navigate @route="elements.webview" @name="Webview" />
		</section>

	{{/if}}

	{{#if (is-active "helpers")}}

		<section show>
			<Navigate @route="helpers.arrays" @name="Arrays" />
			<Navigate @route="helpers.dom" @name="Dom" />
			<Navigate @route="helpers.events" @name="Events" />
			<Navigate @route="helpers.format" @name="Format" />
			<Navigate @route="helpers.keyboard" @name="Keyboard" />
			<Navigate @route="helpers.logic" @name="Logic" />
			<Navigate @route="helpers.maths" @name="Maths" />
			<Navigate @route="helpers.promise" @name="Promise" />
			<Navigate @route="helpers.routing" @name="Routing" />
			<Navigate @route="helpers.strings" @name="Strings" />
		</section>

	{{/if}}

	{{#if (is-active "libraries")}}

		<Navigate @route="libraries.aos" @name="aos.js" />
		<section show={{is-active "libraries.aos"}}>
			<Navigate @route="libraries.aos" @name="Setup" />
		</section>

		<Navigate @route="libraries.apexcharts" @name="apexcharts.js" />
		<section show={{is-active "libraries.apexcharts"}}>
			<Navigate @route="libraries.apexcharts" @name="Setup" />
			<Navigate @route="libraries.apexcharts.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.big" @name="big.js" />
		<section show={{is-active "libraries.big"}}>
			<Navigate @route="libraries.big" @name="Setup" />
		</section>

		<Navigate @route="libraries.bignumber" @name="bignumber.js" />
		<section show={{is-active "libraries.bignumber"}}>
			<Navigate @route="libraries.bignumber" @name="Setup" />
		</section>

		<Navigate @route="libraries.chart" @name="chart.js" />
		<section show={{is-active "libraries.chart"}}>
			<Navigate @route="libraries.chart" @name="Setup" />
			<Navigate @route="libraries.chart.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.codemirror" @name="codemirror.js" />
		<section show={{is-active "libraries.codemirror"}}>
			<Navigate @route="libraries.codemirror" @name="Setup" />
			<Navigate @route="libraries.codemirror.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.cropper" @name="cropper.js" />
		<section show={{is-active "libraries.cropper"}}>
			<Navigate @route="libraries.cropper" @name="Setup" />
			<Navigate @route="libraries.cropper.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.day" @name="day.js" />
		<section show={{is-active "libraries.day"}}>
			<Navigate @route="libraries.day" @name="Setup" />
			<Navigate @route="libraries.day.helpers" @name="Helpers" />
		</section>

		<Navigate @route="libraries.decimal" @name="decimal.js" />
		<section show={{is-active "libraries.decimal"}}>
			<Navigate @route="libraries.decimal" @name="Setup" />
		</section>

		<Navigate @route="libraries.facebook" @name="facebook.js" />
		<section show={{is-active "libraries.facebook"}}>
			<Navigate @route="libraries.facebook" @name="Setup" />
			<Navigate @route="libraries.facebook.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.handsontable" @name="handsontable.js" />
		<section show={{is-active "libraries.handsontable"}}>
			<Navigate @route="libraries.handsontable" @name="Setup" />
			<Navigate @route="libraries.handsontable.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.jsoneditor" @name="jsoneditor.js" />
		<section show={{is-active "libraries.jsoneditor"}}>
			<Navigate @route="libraries.jsoneditor" @name="Setup" />
			<Navigate @route="libraries.jsoneditor.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.marked" @name="marked.js" />
		<section show={{is-active "libraries.marked"}}>
			<Navigate @route="libraries.marked" @name="Setup" />
			<Navigate @route="libraries.marked.helpers" @name="Helpers" />
		</section>

		<Navigate @route="libraries.mapbox-gl" @name="mapbox-gl.js" />
		<section show={{is-active "libraries.mapbox-gl"}}>
			<Navigate @route="libraries.mapbox-gl" @name="Setup" />
		</section>

		<Navigate @route="libraries.moment" @name="moment.js" />
		<section show={{is-active "libraries.moment"}}>
			<Navigate @route="libraries.moment" @name="Setup" />
			<Navigate @route="libraries.moment.helpers" @name="Helpers" />
		</section>

		<Navigate @route="libraries.pdf-lib" @name="pdf-lib.js" />
		<section show={{is-active "libraries.pdf-lib"}}>
			<Navigate @route="libraries.pdf-lib" @name="Setup" />
		</section>

		<Navigate @route="libraries.pdf" @name="pdf.js" />
		<section show={{is-active "libraries.pdf"}}>
			<Navigate @route="libraries.pdf" @name="Setup" />
			<Navigate @route="libraries.pdf.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.prism" @name="prism.js" />
		<section show={{is-active "libraries.prism"}}>
			<Navigate @route="libraries.prism" @name="Setup" />
			<Navigate @route="libraries.prism.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.quill" @name="quill.js" />
		<section show={{is-active "libraries.quill"}}>
			<Navigate @route="libraries.quill" @name="Setup" />
			<Navigate @route="libraries.quill.elements" @name="Elements" />
			<Navigate @route="libraries.quill.helpers" @name="Helpers" />
		</section>

		<Navigate @route="libraries.sheet" @name="sheet.js" />
		<section show={{is-active "libraries.sheet"}}>
			<Navigate @route="libraries.sheet" @name="Setup" />
		</section>

		<Navigate @route="libraries.sortable" @name="sortable.js" />
		<section show={{is-active "libraries.sortable"}}>
			<Navigate @route="libraries.sortable" @name="Setup" />
			<Navigate @route="libraries.sortable.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.stackdriver" @name="stackdriver.js" />
		<section show={{is-active "libraries.stackdriver"}}>
			<Navigate @route="libraries.stackdriver" @name="Setup" />
		</section>

		<Navigate @route="libraries.stripe" @name="stripe.js" />
		<section show={{is-active "libraries.stripe"}}>
			<Navigate @route="libraries.stripe" @name="Setup" />
			<Navigate @route="libraries.stripe.elements" @name="Elements" />
		</section>

		<Navigate @route="libraries.zip" @name="zip.js" />
		<section show={{is-active "libraries.zip"}}>
			<Navigate @route="libraries.zip" @name="Setup" />
		</section>

	{{/if}}

</nav>