<h1>cropper.js elements</h1>

<h2>Cropper</h2>

<p>Create a Cropper instance, and give it an initial image by specifying the <code>src</code> property.</p>

<Example @name="demo-libraries-cropperjs-elements-cropper.hbs" class="nopad">
	<Ascua::Cropper @src={{root-url "/img/crop.jpg"}} />
</Example>

<h3>Cropper options</h3>

<p>The Cropper can be configured using using individual arguments. These include <code>data</code>, <code>autoCrop</code>, <code>background</code>, <code>center</code>, <code>dragMode</code>, <code>guides</code>, <code>highlight</code>, <code>movable</code>, <code>preview</code>, <code>responsive</code>, <code>restore</code>, <code>rotatable</code>, <code>scalable</code>, <code>viewMode</code>, and <code>zoomable</code>. For more information view the <a href="https://github.com/fengyuanchen/cropperjs/blob/master/README.md#options" target="_blank" rel="noopener noreferrer">documentation</a>.</p>

<Example @name="demo-libraries-cropperjs-elements-cropper-opts.hbs" class="nopad">
	<Ascua::Cropper @src={{root-url "/img/crop.jpg"}} @data={{hash x=692 y=43 width=305 height=359 rotate=0}} />
</Example>

<h3>Waiting for ready</h3>

<p>To call methods on the Cropper instance, use the <code>onReady</code> action argument. The first argument in the event is the Cropper instance.</p>

<Example @name="demo-libraries-cropperjs-elements-cropper-ready.hbs" class="nopad">
	<Ascua::Cropper @src={{root-url "/img/crop.jpg"}} @onReady={{console}} />
</Example>

<h3>Detecting changes</h3>

<p>To subscribe to changes to the crop dimensions and image zoom levels, use the <code>onCrop</code>, and <code>onZoom</code> arguments.</p>

<Example @name="demo-libraries-cropperjs-elements-cropper-events.hbs" class="nopad">
	<Ascua::Cropper @src={{root-url "/img/crop.jpg"}} @onCrop={{console}} @onZoom={{console}} />
</Example>