<h1>Event helpers</h1>

<p>The events helpers enable listenting to and handling events.</p>

<h2>Install</h2>

<Example @name="demo-services-events-install.bash">
	ember install @ascua/events
</Example>

<h2>dispatch-event</h2>

<p>Dispatch a new custom event.</p>

<Example @name="demo-services-events-dispatch-event.hbs">
	<button type="button" {{on "click" (dispatch-event "hello")}} {{on "hello" (console)}}>
		Click me
	</button>
</Example>

<h2>on</h2>

<p>Specify an event to listen to, along with a handler.</p>

<Example @name="demo-services-events-on.hbs">
	Click anywhere on the page
	{{on "click" (console "Clicked the page")}}
</Example>

<p>To add the listener to a specific element, specify the element as the second argument.</p>

<Example @name="demo-services-events-on-specific.hbs">
	Target a specific DOM element
	{{on (document) "click" (console "Clicked the page")}}
</Example>

<h2>prevent-default</h2>

<p>Prevents propagation of the event using <code>event.preventDefault()</code>.</p>

<Example @name="demo-services-events-prevent-default.hbs">
	Prevent default event handling
	{{on (document) "click" (prevent-default)}}
</Example>

<Example @name="demo-services-events-prevent-default-function.hbs">
	Prevent default event handling after running an event.
	{{on (document) "contextmenu" (prevent-default (console "Clicked before preventDefault"))}}
</Example>

<h2>stop-propagation</h2>

<p>Prevents propagation of the event using <code>event.stopPropagation()</code>.</p>

<Example @name="demo-services-events-stop-propagation.hbs">
	Stop propagation of event
	{{on (document) "click" (stop-propagation)}}
</Example>

<Example @name="demo-services-events-stop-propagation-function.hbs">
	Stop propagation of event after running an event.
	{{on (document) "contextmenu" (stop-propagation (console "Clicked before stopPropagation"))}}
</Example>

<h2>toggle</h2>

<p>Toggle a property on an object. Value is <strong>{{if this.value this.value "false"}}</strong>.</p>

<Example @name="demo-services-events-toggle.hbs">
	<button type="button" {{on "click" (toggle "value" this)}}>
		Click me
	</button>
</Example>

<p>Toggle a property on an object, by looping through optional values. Value is <strong>{{if this.value this.value "false"}}</strong>.</p>

<Example @name="demo-services-events-toggle-values.hbs">
	<button type="button" {{on "click" (toggle "value" this "one" "two" "three")}}>
		Click me
	</button>
</Example>