<h1>Maths helpers</h1>

<p>The math helpers enable maths calculations in handlebars statements.</p>

<h2>Install</h2>

<Example @name="demo-services-maths-install.bash">
	ember install @ascua/maths
</Example>

<h2>add</h2>

<p>Performs the Javascript equivalent of <code>a + b + ...</code>.</p>

<Example @name="demo-maths-helpers-add.hbs">
	{{add 10 5}}
</Example>

<h2>ceil</h2>

<p>Performs the Javascript equivalent of <code>Math.ceil(a)</code>.</p>

<Example @name="demo-maths-helpers-ceil.hbs">
	{{ceil 2.5}}
</Example>

<h2>dec</h2>

<p>Performs the Javascript equivalent of <code>b ? a - b : a - 1</code>.</p>

<Example @name="demo-maths-helpers-dec.hbs">
	{{dec 10}}
</Example>

<h2>div</h2>

<p>Performs the Javascript equivalent of <code>a / b / ...</code>.</p>

<Example @name="demo-maths-helpers-div.hbs">
	{{div 10 5}}
</Example>

<h2>floor</h2>

<p>Performs the Javascript equivalent of <code>Math.floor(a)</code>.</p>

<Example @name="demo-maths-helpers-floor.hbs">
	{{floor 2.5}}
</Example>

<h2>inc</h2>

<p>Performs the Javascript equivalent of <code>b ? a - b : a - 1</code>.</p>

<Example @name="demo-maths-helpers-inc.hbs">
	{{inc 10}}
</Example>

<h2>max</h2>

<p>Performs the Javascript equivalent of <code>Math.max([a, b, c, ...])</code>.</p>

<Example @name="demo-maths-helpers-max.hbs">
	{{max 20 30 10}}
</Example>

<h2>min</h2>

<p>Performs the Javascript equivalent of <code>Math.min([a, b, c, ...])</code>.</p>

<Example @name="demo-maths-helpers-min.hbs">
	{{min 29 30 10}}
</Example>

<h2>mod</h2>

<p>Performs the Javascript equivalent of <code>a % b % ...</code>.</p>

<Example @name="demo-maths-helpers-mod.hbs">
	{{mod 30 14}}
</Example>

<h2>mult</h2>

<p>Performs the Javascript equivalent of <code>a * b * ...</code>.</p>

<Example @name="demo-maths-helpers-mult.hbs">
	{{mult 10 5}}
</Example>

<h2>random</h2>

<p>Performs the Javascript equivalent of <code>Math.random(a, b)</code>.</p>

<Example @name="demo-maths-helpers-random.hbs">
	{{random 10 5}}
</Example>

<h2>round</h2>

<p>Performs the Javascript equivalent of <code>Math.round(a)</code>.</p>

<Example @name="demo-maths-helpers-round.hbs">
	{{round 2.5}}
</Example>

<h2>sqrt</h2>

<p>Performs the Javascript equivalent of <code>Math.sqrt(a)</code>.</p>

<Example @name="demo-maths-helpers-sqrt.hbs">
	{{sqrt 10}}
</Example>

<h2>sub</h2>

<p>Performs the Javascript equivalent of <code>a - b - ...</code>.</p>

<Example @name="demo-maths-helpers-sub.hbs">
	{{sub 10 5}}
</Example>