<h1>stripe.js elements</h1>

<h2>Elements</h2>

<p>Render a <a href="https://stripe.com/docs/js/elements_object/create_element?type=card" target="_blank" rel="noopener noreferrer"><code>card</code></a> element.</p>

<Example @name="demo-libraries-stripejs-elements-card.hbs">
	<Ascua::Stripe::Elements as |elements|>
		<elements.card />
	</Ascua::Stripe::Elements>
</Example>

<p>Render a <a href="https://stripe.com/docs/js/elements_object/create_element?type=cardNumber" target="_blank" rel="noopener noreferrer"><code>cardNumber</code></a>, <a href="https://stripe.com/docs/js/elements_object/create_element?type=cardExpiry" target="_blank" rel="noopener noreferrer"><code>cardExpiry</code></a>, <a href="https://stripe.com/docs/js/elements_object/create_element?type=cardCvc" target="_blank" rel="noopener noreferrer"><code>cardCvc</code></a> element.</p>

<Example @name="demo-libraries-stripejs-elements-cardNumber.hbs">
	<Ascua::Stripe::Elements as |elements|>
		<elements.cardNumber />
		<elements.cardExpiry />
		<elements.cardCvc />
	</Ascua::Stripe::Elements>
</Example>

<p>Render an <a href="https://stripe.com/docs/js/elements_object/create_element?type=idealBank" target="_blank" rel="noopener noreferrer"><code>idealBank</code></a> element.</p>

<Example @name="demo-libraries-stripejs-elements-idealBank.hbs">
	<Ascua::Stripe::Elements as |elements|>
		<elements.idealBank />
	</Ascua::Stripe::Elements>
</Example>

<h3>Custom instance</h3>

<p>To render Stripe elements with a custom Stripe instance, pass the desired Stripe instance into the <code>Ascua::Stripe::Elements</code> component using the <code>stripe</code> argument.</p>

<Example @name="demo-libraries-stripejs-elements-custom.hbs">
	<Ascua::Stripe::Elements @stripe={{this.stripe}} as |elements|>
		<elements.card />
	</Ascua::Stripe::Elements>
</Example>

<h3>Detecting changes</h3>

<p>To subscribe to changes to the element's value, use the <code>onError</code>, <code>onEmpty</code>, and <code>onComplete</code> arguments.</p>

<Example @name="demo-libraries-stripejs-elements-card-change.hbs">
	<Ascua::Stripe::Elements as |elements|>
		<elements.card @onError={{fn (mut this.error)}} @onEmpty={{fn (mut this.empty)}} @onComplete={{fn (mut this.complete)}} />
	</Ascua::Stripe::Elements>
</Example>

<span>{{if this.error this.error.message}}</span>
<span>{{if this.empty "The input is empty"}}</span>
<span>{{if this.complete "The input is complete"}}</span>

<h3>Element events</h3>

<p>In order to listen to events on each element, use the <code>on</code> modifier. The available events are <a href="https://stripe.com/docs/js/element/events/on_ready" target="_blank" rel="noopener noreferrer"><code>ready</code></a>, <a href="https://stripe.com/docs/js/element/events/on_change" target="_blank" rel="noopener noreferrer"><code>change</code></a>, <a href="https://stripe.com/docs/js/element/events/on_focus" target="_blank" rel="noopener noreferrer"><code>focus</code></a>, <a href="https://stripe.com/docs/js/element/events/on_blur" target="_blank" rel="noopener noreferrer"><code>blur</code></a>, and <a href="https://stripe.com/docs/js/element/events/on_click" target="_blank" rel="noopener noreferrer"><code>click</code></a>. For more information view the <a href="https://stripe.com/docs/js/element/events" target="_blank" rel="noopener noreferrer">documentation</a>.</p>

<Example @name="demo-libraries-stripejs-elements-card-event.hbs">
	<Ascua::Stripe::Elements as |elements|>
		<elements.card {{on "change" (console)}} />
	</Ascua::Stripe::Elements>
</Example>