<h1>Contextmenu</h1>

<p>The <code>Ascua::RightClick</code> component adds functionality for adding contextual shortcut menus to an Ember.js app, using the right click button. A custom context menu can be applied to the whole application, in addition to individual menus for a specific areas, or on an ember component.</p>

<h2>Installation</h2>

<Example @name="demo-elements-contextmenu-install.bash">
	ember install @ascua/contextmenu
</Example>

<p>In your <code>app/templates/application.hbs</code> template file, place the following snippet of code.</p>

<Example @name="demo-elements-contextmenu-install.hbs" @hide={{true}}>
	<Ascua::Render />
</Example>

<h2>Default menus</h2>

<p>If you place a menu template in <code>app/templates/application/menu/main.hbs</code> then this menu will be used for the all menus where a specific menu has not been specified. For input boxes and editable text areas, a menu located at <code>app/templates/application/menu/text.hbs</code> will be used, allowing for different editing controls when editing text in an Electron application.</p>

<h2>Specific menus</h2>

<Example @name="demo-elements-rightclick.hbs">
	<RightClick @menu="application/menu">
		Right click me ...
	</RightClick>
</Example>

<Example @name="demo-elements-contextmenu.hbs" @hide={{true}}>

	<Ascua::Contextmenu::Item @click={{console}} @label="Do something special" />

	<Ascua::Contextmenu::Item @type="separator" />

	<Ascua::Contextmenu::Item @click={{history-back}} @label="Back" />
	<Ascua::Contextmenu::Item @click={{history-forward}} @label="Forward" />
	<Ascua::Contextmenu::Item @click={{reload}} @label="Reload Page" @role="reload" />

	<Ascua::Contextmenu::Item @type="separator" />

	<Ascua::Contextmenu::Item @label="© Abcum Ltd" @enabled={{false}} />

</Example>