<h1>Image</h1>

<p>The <code>Ascua::Image</code> component can be used to add lqip (low quality image placeholder) images.</p>

<h2>Installation</h2>

<Example @name="demo-elements-image-install.bash">
	ember install @ascua/image
</Example>

<h2>Examples</h2>

<Example @name="demo-elements-image-1.hbs">
	<div class="min-h-400">
		<Ascua::Image
			@width="100%"
			@lqip={{root-url "/img/small/1.jpg"}}
			@src={{root-url "/img/large/1.jpg"}}
		/>
	</div>
</Example>

<Example @name="demo-elements-image-2.hbs">
	<div class="min-h-400">
		<Ascua::Image
			@width="100%"
			@lqip={{root-url "/img/small/2.jpg"}}
			@src={{root-url "/img/large/2.jpg"}}
		/>
	</div>
</Example>

<Example @name="demo-elements-image-3.hbs">
	<div class="min-h-400">
		<Ascua::Image
			@width="100%"
			@lqip={{root-url "/img/small/3.jpg"}}
			@src={{root-url "/img/large/3.jpg"}}
		/>
	</div>
</Example>

<Example @name="demo-elements-image-4.hbs">
	<div class="min-h-400">
		<Ascua::Image
			@width="100%"
			@lqip={{root-url "/img/small/4.jpg"}}
			@src={{root-url "/img/large/4.jpg"}}
		/>
	</div>
</Example>

<Example @name="demo-elements-image-5.hbs">
	<div class="min-h-400">
		<Ascua::Image
			@width="100%"
			@lqip={{root-url "/img/small/5.jpg"}}
			@src={{root-url "/img/large/5.jpg"}}
		/>
	</div>
</Example>