<h1>handsontable.js elements</h1>

<h2>Table</h2>

<p>Create a Handsontable instance, and give it an optional initial value by specifying the <code>json</code> property.</p>

<Example @name="demo-libraries-handsontablejs-elements-editor.hbs" class="nopad">
	<div class="h-400">
		<Ascua::Handsontable @data={{this.data}} @cols={{this.cols}} />
	</div>
</Example>

<h3>Table options</h3>

<p>The table can be configured using using individual arguments. These include <code>allowRemoveColumn</code>, <code>allowRemoveRow</code>, <code>autoColumnSize</code>, <code>autoRowSize</code>, <code>autoWrapCol</code>, <code>autoWrapRow</code>, <code>colHeaders</code>, <code>collapsibleColumns</code>, <code>columnHeaderHeight</code>, <code>columns</code>, <code>columnSorting</code>, <code>colWidths</code>, <code>contextMenu</code>, <code>copyable</code>, <code>copyPaste</code>, <code>data</code>, <code>disableVisualSelection</code>, <code>dropdownMenu</code>, <code>enterBeginsEditing</code>, <code>fillHandle</code>, <code>filters</code>, <code>fixedColumnsLeft</code>, <code>fixedRowsBottom</code>, <code>fixedRowsTop</code>, <code>formulas</code>, <code>height</code>, <code>licenseKey</code>, <code>manualColumnMove</code>, <code>manualColumnResize</code>, <code>manualRowMove</code>, <code>manualRowResize</code>, <code>minSpareCols</code>, <code>minSpareRows</code>, <code>readOnly</code>, <code>rowHeaders</code>, <code>rowHeights</code>, <code>startCols</code>, <code>startRows</code>, <code>stretchH</code>, <code>trimWhitespace</code>, <code>width</code>, and <code>wordWrap</code>. For more information view the <a href="https://handsontable.com/docs/Options.html" target="_blank" rel="noopener noreferrer">documentation</a>.</p>

<Example @name="demo-libraries-handsontablejs-elements-editor-opts.hbs" class="nopad">
	<div class="h-400">
		<Ascua::Handsontable @data={{this.data}} @cols={{this.cols}} @readOnly={{true}} />
	</div>
</Example>