<h1>apexcharts.js elements</h1>

<h2>Line charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-line.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.line.series}} @opts={{this.line}} />
	</div>
</Example>

<h2>Column charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-column.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.column.series}} @opts={{this.column}} />
	</div>
</Example>

<h2>Bar charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-bar.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.bar.series}} @opts={{this.bar}} />
	</div>
</Example>

<h2>Mixed charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-mixed.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.mixed.series}} @opts={{this.mixed}} />
	</div>
</Example>

<h2>Scatter charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-scatter.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.scatter.series}} @opts={{this.scatter}} />
	</div>
</Example>

<h2>Candlestick charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-candlestick.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.candlestick.series}} @opts={{this.candlestick}} />
	</div>
</Example>

<h2>Heatmap charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-heatmap.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.heatmap.series}} @opts={{this.heatmap}} />
	</div>
</Example>

<h2>Pie charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-pie.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.pie.series}} @opts={{this.pie}} />
	</div>
</Example>

<h2>Donut charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-donut.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.donut.series}} @opts={{this.donut}} />
	</div>
</Example>

<h2>Radial charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-radial.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.radial.series}} @opts={{this.radial}} />
	</div>
</Example>

<h2>Gauge charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-gauge.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.gauge.series}} @opts={{this.gauge}} />
	</div>
</Example>

<h2>Radar charts</h2>

<Example @name="demo-libraries-apexchartjs-elements-radar.hbs">
	<div class="h-400">
		<Ascua::Apexchart @data={{this.radar.series}} @opts={{this.radar}} />
	</div>
</Example>